#fon{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/fon.webp);
    background-size: 100vmax 100vmax;
}
.shapka{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0.5% 0% 1% 0%;
    /* margin-bottom: 1%; */
    align-items: center;
}
.func{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 0px;
    margin: 0 0% ;
    background-color: rgb(0, 100, 255);
    border-radius: 5px;
}
.vik{
    font-size: 40px;
}
.s{
    width: 120px;
}
.knopki{
    text-align: center;
    width: 150px;
    /* padding: 0 20px; */
    font-size: 18px;
    color: #fff;
    font-family: Arial;
    text-decoration: none;
}
.novost{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 100, 255);
    width: 1000px;
    margin: 1% 0;
    border-radius: 5px;
}
.kartinka{
    width: 800px;
}
.kartinka1{
    width: 800px;
}
.sertif{
    margin-bottom: 20px;
}

.zagolovok{
    margin-top: 1%;
    font-size: 30px;
    color: rgb(255, 255, 255);
}
.opisanie{
    font-size: 18px;
    margin: 1% 10%;
    color: rgb(255, 255, 255);
}
.kompani{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 70%;

}
.f1{
    border: #fff 8px solid;
    border-radius:5px ;
    width: 250px;
    height: 342px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 5px 5px rgba(34, 60, 80, 0.2);
}
.h3_1{
    text-align: center;
}
.obr{
    margin-left: 40px;
    width: 800px;
}
.obar{
    margin-top: 15px;
    width: 70%;
}
li {
    list-style-type: none; 
   }
   li:before {
    content: "✓"; 
   }

.cont{
    font-size: 18px;
    font-weight: bold;
}
.map{
    width: 70%;
    height: 200px;
    background-color: #333;
}



@media (max-width: 1250px) {
    .shapka{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0.5% 0% 1% 0%;
        /* margin-bottom: 1%; */
        align-items: center;
    }
    .novost{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 100, 255);
        width: 800px;
        margin: 1% 0;
        border-radius: 5px;
    }
    .func{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 0px;
        margin: 0 0% ;
        background-color: rgb(0, 100, 255);
        border-radius: 5px;
    }
    .kartinka{
        width: 700px;
    }

}
@media (max-width: 100px) {
    .shapka{
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0.5% 0% 1% 0%;
        /* margin-bottom: 1%; */
        align-items: center;
    }
    .novost{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(0, 100, 255);
        width: 500px;
        margin: 1% 0;
        border-radius: 5px;
    }
    .func{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
        padding: 10px 0px;
        margin: 0 0% ;
        background-color: rgb(0, 100, 255);
        border-radius: 5px;
    }
    .kartinka{
        width: 400px;
    }

}